<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Fist Name</th>
        <th>Last Name</th>
    </tr>

    <tr th:each="author: ${authors}">
        <td th:text="${author.id}">01</td>
        <td th:text="${author.firstName}">Bahtiyar Ali</td>
        <td th:text="${author.lastName}">ALHAS</td>
    </tr>


</table>


</body>
</html>